// main: ../main.scss
.size-l {
  display: block;
  margin: 0 auto;
  @include l {
    width: 860px;
    height: 573px;
  }
  @include m {
    width: 100%;
    height: calc(100vw / 3 * 2);
  }
}
.size-m {
  display: block;
  margin: 0 auto;
  @include l {
    width: 700px;
    height: 573px;
  }
  @include m {
    width: 100%;
    height: calc(100vw / 3 * 2);
  }
}
