// main: ../main.scss
.segment-spacing-vertical {
  display: block;
  margin: 0 auto;
  @include l {
    width: 50px;
    height: 225px;
  }
  @include m {
    width: 25px;
    height: 125px;
  }
  @include s {
    width: 140px;
    height: 120px;
  }
}
.segment-spacing-vertical::before {
  content: '';
  position: absolute;
  height: 0.1em;
  background-color: $color-black;
  @include l {
    width: 50px;
    margin-top: calc(225px / 2 - .05em);
  }
  @include m {
    width: 25px;
    margin-top: calc(125px / 2 - .05em);
  }
  @include s {
    width: 140px;
    margin-top: calc(120px / 2 - .05em);
  }
}
