// main: ../main.scss
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700');
body {
  font-size: 10px;
}

h3, h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h1 {
  font-size:5em;
  font-family: Heebo, sans-serif;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: $color-grey;
}
